@import url(https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap);

body, html {
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
    color: #284B63;
    min-height: 100vh;
    font-family: 'Lexend', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a, a:visited, button {
    padding: 5px;
    color: #7692FF;
    text-decoration: none;
    background-color: #1C3041;
    border: #4A7C59 2px solid;
    border-radius: 10px;
}

a:hover, button:hover {
    background-color: #7692FF;
    color: #1C3041;
}

a.playlist{
    border: 0;
    background-color: transparent;
}

nav {
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89043D;
    height: 2.5%;
    
}

button {
    font-family: 'Lexend', sans-serif;
}

.main {
    display: flex;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-community {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content div {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    min-width: 20vw;
}

.content section {
    display: flex;
}

.edit-btn, .new-btn {
    font-size: small;
}

footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-left: 10px;
    background-color: #89043D;
    color: #D9D9D9;
    height: 5%;
}